<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Blank </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <stream-channel-list></stream-channel-list>
    <stream-channel>
        <stream-channel-header></stream-channel-header>
        <stream-message-list></stream-message-list>
        <stream-notification-list></stream-notification-list>
        <stream-message-input></stream-message-input>
    </stream-channel>
</ion-content>